body{
    margin: 0;
    padding: 0;
    background-image:url("https://sxodim.com/uploads/posts/2021/05/25/optimized/f66b073df5d8fee5fdee8f909496bea0_545x305-q-85.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}